<h1>Reviews for <%= @restaurant.name %></h1>

<div id="reviews">
  <ul>
    <% @restaurant.reviews.each do |review| %>
      <li><h3><%= review.rating %></h3></li>
      <p><%= review.content %></p>
    <% end %>
  </ul>
</div>
